@charset "utf-8";
@import "normalize.css";

html {
  font-size: 2.0vw;
  text-align: left;
}

@media all and (min-width:1000px) {
  html { font-size: 20px; }
}

@media all and (max-width:520px) {
  html{ font-size: 14px; }
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

body > header,
body > nav,
body > main,
body > footer {
  display: block;
  margin: 1rem 2rem;
  max-width: 30rem;
}

body > header {
  border-bottom: 2px solid black;
}

body > footer {
  border-top: 2px solid black;
}

body > nav {
  border-bottom: 1px solid black;
  margin: 0 2rem;
  padding: 0 0 1rem 0;
}

section {
  margin: 0 0 3rem 0;
}

p {
  margin: 1rem 0;
}

ol, ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

/* Tables */

table {
  border-collapse: collapse;
}

thead tr:last-child {
  border-bottom: 1px solid black;
}

tbody th, tbody td {
  padding: 0.8rem 0.5rem;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2
}

td, th {
  text-align: left;
}

/* Edits */

ins {
  color: darkgreen;
  text-decoration: underline;
}

del {
  color: darkred;
  text-decoration: line-through;
}
