/*! readable.css */

html {
  font-size: 2.0vw;
  text-align: left;
}

@media all and (min-width:1000px) {
  html { font-size: 20px; }
}

@media all and (max-width:520px) {
  html{ font-size: 14px; }
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

body > header,
body > nav,
body > main,
body > footer {
  display: block;
  margin: 1rem auto;
  max-width: 33rem;
  text-align: left;
}

body > header {
  border-bottom: 2px solid black;
}

body > footer {
  border-top: 2px solid black;
  margin-bottom: 3rem;
}

body > nav {
  border-bottom: 1px solid black;
  margin: 0 auto;
  padding: 0 0 1rem 0;
}

section {
  margin: 0 0 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

h1 {
  margin-bottom: 0.8rem;
}

p {
  margin: 1rem 0;
}

ol, ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

aside {
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
}

hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid black;
  height: 1;
  margin: 2rem 0;
}

/* Quotations */

blockquote {
  margin: 1rem 0 1rem 2rem;
}

/* Tables */

table {
  border-collapse: collapse;
}

thead tr:last-child {
  border-bottom: 1px solid black;
}

tbody th, tbody td {
  padding: 0.8rem 0.5rem;
  vertical-align: top;
}

td, th {
  text-align: left;
}

/* Edits */

ins {
  color: darkgreen;
  text-decoration: underline;
}

del {
  color: darkred;
  text-decoration: line-through;
}

/* Hyperlinks */

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

a[href] img {
  border: none;
}
